    <!-- Modal -->
    <div id="myModal" class="modal fade" role="dialog">
      <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Phone Name</h4>
          </div>
          <div class="modal-body">
                <form ng-submit="submit()">
                    <div class="modal-body">
                        <div class="row">
                            <fieldset>
                                <input type="hidden" ng-model="phonenames.id"/>
                            </fieldset>
                        </div>
                        <div class="row">
                            <fieldset class="col-md-1">
                                <label>Name</label>
                                <input type="text" ng-model="phonenames.desc" />
                            </fieldset>
                        </div>
                    </div>

                     <div class="modal-footer">
                        <button type="button" class="btn btn-default" ng-click="cancel()" data-dismiss="modal">Close</button>
                        <input type="submit" class="btn primary-btn" value="Submit"/>
                    </div>
               </form>
          </div>
        </div>
      </div>
    </div>
